# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

.localhistory/
.env


/backend/Walory Backend/.vs
/backend/.vs/
/backend/Infrastracture/obj
/backend/Infrastracture/bin

/backend/Walory Backend/obj
/backend/Walory Backend/bin

backend/Walory Backend/.vs

/backend/Application/bin
/backend/Application/obj
/backend/Domain/bin
/backend/Domain/obj
/backend/Tests/bin
/backend/Tests/obj
