# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# NuGet Packages
*.nupkg

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

.localhistory/


/backend/Walory Backend/.vs
/backend/.vs/
/backend/Infrastracture/obj
/backend/Walory Backend/obj
backend/Walory Backend/.vs
/backend/Walory Backend/.vs
